@media(width < 400px){
    .p-4{
       padding: 0 !important;
    }
}
.p-4{
    background: linear-gradient(to bottom, #41bde2,  #044356);

    .logo{
        font-family: "Playwrite PE", serif;
    }

    .mx-2{
        font-family: "Philosopher", serif;
        font-weight: 400;
        font-style: italic;
    }

    .mx-1{
        font-family: "Philosopher", serif;
       
    }
}