<div class="header flex justify-content-between border-2 p-4 bg-gray-800">
    <h1 class="">DooDoo</h1>
    <div class="p2">
      <div class="text-center">
        <a tuiLink
           routerLink="home-page"
           class="mx-2"
           *ngIf="isNotHomePage">Home</a> 
        <a tuiLink routerLink="" class="mx-2" fragment="about">About</a>
        <a tuiLink routerLink="" class="mx-2" fragment="contact">Contact Us</a>
        <a tuiLink class="mx-2">Logout</a>
      </div>
      <div class="mt-3">
        <a tuiLink routerLink="sender" class="mx-2">Sender</a>
        <a tuiLink routerLink="recipient" class="mx-2">Recipient</a>
        <a tuiLink routerLink="service-provider" class="mx-2">Service Provider</a>
        <a tuiLink routerLink="admin" class="mx-2">Administrator</a>
        <a tuiLink routerLink="customer" class="mx-2">Customer Support Agent</a>
      </div>
    </div>
  </div>
  