@media(width < 700px){
    .flex{
        display: block !important;
        
    }
    .p-tag{
       padding: 5rem 0;
       font-size: 14px;
    }
    
}
.grid{
    background: linear-gradient(to bottom, #41bde2,  #044356);
    font-family: "Philosopher", serif;
    font-weight: 400;
    font-style: italic;
}