<div class="grid text-white">
   <div class="border-2 col-6">
    <p class="p-tag text-center text-lg">&copy; 2025 DooDoo. All rights reserved.</p>
   </div>
    <div class="col-6 border-2 flex justify-content-between text-center">
      <p><strong class="text-lg"><i class="pi pi-wifi"></i> WiFi</strong>: <br> <a tuiLink [routerLink]=""class="text-white">support&#64;doodoo.com</a></p>
      <p><strong class="text-lg"><i class="pi pi-phone"></i> Phone</strong>:<br> +234 XXX-XXX-XXXX (Nigeria) | +1 XXX-XXX-XXXX (Canada)</p>
      <p><strong class="text-lg"><i class="pi pi-globe"></i> Website</strong>: <br> <a tuiLink [routerLink]="" class="text-white" >www.doodoo.com</a></p>
    </div>
  </div>
  
