<div class="bg-gray-800 grid">
   <div class="border-2 col-6">
    <p class="p-tag text-center">&copy; 2025 DooDoo. All rights reserved.</p>
   </div>
    <div class="col-6 border-2 flex justify-content-between text-center">
      <p>📧 <strong>Email</strong>: <br> <a tuiLink [routerLink]="">support&#64;doodoo.com</a></p>
      <p>📞<strong>Phone</strong>: <br> +234 XXX-XXX-XXXX (Nigeria) | +1 XXX-XXX-XXXX (Canada)</p>
      <p>🌐 <strong>Website</strong>: <br> <a tuiLink [routerLink]="">www.doodoo.com</a></p>
    </div>
  </div>
  
