.text-xl{
    font-family: "Philosopher", serif;
    font-weight: 800;
    font-style: italic;
    color: #03373e;
}
.text-lg{
    font-family: "Philosopher", serif;
    font-weight: 200;
    color: #03373e;
}
.btn{
    background-color: #1a97bd !important;
    font-family: "Philosopher", serif;
    font-weight: 800;
    font-style: italic;
}