<div class="flex align-items-center justify-content-center h-screen">
    <form [formGroup]="loginForm" class="max-w-30rem"
        (ngSubmit) = "onFormSubmitting()"
        tuiAppearance="floating"
        tuiCardLarge
        >
        <header tuiHeader class="flex-column align-items-center">
            <div class="w-10rem h-9rem border-circle border-3 mb-3"></div>
            <h2 tuiTitle>Login</h2>
        </header>
        <tui-input
            formControlName="email"
            [tuiTextfieldCleaner]="true"
            >
            Enter your Email Address
            <span class="tui-required"></span>
            <input
                autocomplete="email"
                placeholder="mail@mail.ru"
                tuiTextfieldLegacy
                        
                />
        </tui-input>
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
            <span *ngIf="loginForm.get('email')?.errors?.['required']">Email field Mustn't be empty.</span>
            <span *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email.</span>
        </div>
        <tui-input-password
            formControlName="password"
                [tuiTextfieldCleaner]="true"
                    
                 >
                Enter your password here
        </tui-input-password>
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            <span *ngIf="loginForm.get('password')?.errors?.['required']">Password field Mustn't be empty.</span>
            <span *ngIf="loginForm.get('password')?.errors?.['minlength']">
              Password must be at least 6 characters long.
            </span>
          </div>
        <div class="flex justify-content-between">
            <div class="flex align-items-center">
                <input
                    type="checkbox"
                    id="rememberMe"
                    formControlName="rememberMe"
                />
                <label for="rememberMe" class="ml-2">Remember Me</label>
            </div>
            <a routerLink="/auth/forgot-password" class="no-underline ml-3">Forgot Password?</a>
        </div>
         <button
                appearance = "outline"
                tuiAppearanceMode = "checked"
                tuiButton
                type="submit"
                [disabled]="loginForm.invalid"
                class="w-full my-3"
           >Login
        </button>
    </form>
</div>
    
 
