<div tuiAppearance="floating" 
        tuiCardLarge 
        class="max-w-30rem mx-auto" 
    >
     <div class="text-right">
        <button
            appearance="flat"
            tuiAppearanceMode = "checked"
            tuiButton
             type="button"
             (click)="onCollapseDeliveryCard()"
             > x
        </button>
    </div> 
    <h4>
        Dear Service Provider, i would like to inform you that you have so,so request now.
    </h4>
    <button appearance="primary" 
        tuiAppearanceMode="checked" 
        tuiButton 
        type="button" 
        (click)="update()"
        > Update
    </button>
    
</div>