<div class="max-w-30rem mx-auto">
    <h2 class="text-center text-xl">Pending Delivery Requests</h2>

<div *ngIf="deliveryRequests.length === 0">
  <p class="text-center text-lg">No pending delivery requests.</p>
</div>
<div tuiAppearance="floating" 
tuiCardLarge 
 *ngFor="let request of deliveryRequests"
 class="max-w-30rem my-3 mx-auto data">
    <h3><strong>Recipient</strong>: {{ request.recipientName }}</h3>
    <p><strong>Package</strong>: {{ request.pckCont }}</p>
    <button tuiButton (click)="deliverPackage(request.id)" class="btn">Deliver</button>
</div>
</div>