@import "config";

.text-xl{
    @include primaryState;
}
.text-lg{
    @include secondaryState
}
p{
    @include tertiaryState;

    strong{
        color: #044356
    }
}
  .btn{
    background-color: #1a97bd !important;
    font-family: "Philosopher", serif;
    color: white;
}
  .btn-send{
    @include btns
  } 
  .btn-check{
    @include btnc
  } 