<div class="flex align-items-center justify-content-center h-screen">
    <form [formGroup]="forgotForm" 
        class="max-w-30rem"
        (ngSubmit) = "onFormSubmitting()"
        tuiAppearance="floating"
        tuiCardLarge
        >
        <header tuiHeader class="flex-column align-items-center">
        <div class="w-10rem h-9rem border-circle border-3 mb-3"></div>
            <h2 tuiTitle>Forgot Password</h2>
        </header>
         <p>
                <tui-input
                    formControlName="email"
                    [tuiTextfieldCleaner]="true"
                >
                   Enter your Registered Email Address
                    <span class="tui-required"></span>
                    <input
                        autocomplete="email"
                        placeholder="mail@mail.ru"
                        tuiTextfieldLegacy
                        
                    />
                </tui-input>
        </p>
        <button
            appearance = "outline"
            tuiAppearanceMode = "checked"
            tuiButton
            type="submit"
            class="w-full"
           >Reset
        </button>
        </form>
    </div>
 
