<div class="text-center w-full h-screen my-3">
    <div class="flex justify-content-end mr-8" *ngIf="showWelcomeNote">
        <button appearance="flat" tuiAppearanceMode="checked" tuiButton type="submit" class="mx-2"
            (click)="onShowShipmentForm()">Create Shipment
        </button>
        <button appearance="flat" tuiAppearanceMode="checked" tuiButton type="submit" class="mx-2">Track Shipment
        </button>
    </div>
    <div class="text-center my-5" *ngIf="showWelcomeNote">
        <h2>
            Welcome to Shipment App
        </h2>
        <p>
            Easily manage and track your shipments.
        </p>
    </div>
    <shipment-form *ngIf=" showShipmentForm" 
    (showShipmentFormToHome)="onShowShipmentForm($event)"
    (showShipmentFormToHome) = "onShowFormToHome($event)"
></shipment-form>
</div>