<div class="border-3 h-screen flex justify-content-center align-items-center bg-gray-300 ">

    <div tuiAppearance="floating" tuiCardLarge class="max-w-30rem bg-info ">
        <header tuiHeader class="flex-column align-items-center">
            <div class="w-10rem h-9rem border-circle border-3 mb-3"></div>
            <h2 tuiTitle>Create an Account</h2>
        </header>
        <form [formGroup]="testForm">
            <p>
                <tui-input
                    formControlName="testValue"
                    [tuiTextfieldCleaner]="true"
                >
                Enter your Email address
                    <input
                        placeholder="mail@mail.ru"
                        tuiTextfieldLegacy
                        type="email"
                    />
                </tui-input>
            </p>
            <p>
                <tui-input-password
                    formControlName="password"
                    [tuiTextfieldCleaner]="true"
                    
            >
            Enter your password here
                </tui-input-password>
            </p>
            <p>
                <tui-input-password
                    formControlName="cpassword"
                    [tuiTextfieldCleaner]="true"
                    
            >
            Confirm your password here
                </tui-input-password>
            </p>

            <tui-combo-box
                tuiDropdownMobile
                [tuiTextfieldCleaner]="true"
                formControlName="role"
            >
                Select Role
                <tui-data-list-wrapper
                    *tuiDataList
                    [items]="roles | tuiFilterByInput"
                />
            </tui-combo-box>
            <button
             appearance = "outline"
             tuiAppearanceMode = "checked"
             tuiButton
             type="submit"
             >Submit</button>
            <span>Already have an Account? <a href="" class="no-underline">Login</a></span>
        </form>
    </div>

</div>