form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section {
    display: flex;
    gap: inherit;

    tui-textfield {
        flex: 1;
    }

   
}

.text-xl, .log{
    font-family: "Philosopher", serif;
    font-weight: 800;
    font-style: italic;
    color: #03373e;
}
.text-lg{
    font-family: "Philosopher", serif;
    font-weight: 200;
    color: #ed4108;
}

.btn{
    background-color: #1a97bd !important;
    font-family: "Philosopher", serif;
    font-weight: 800;
    font-style: italic;
}
