<div tuiAppearance="floating" 
        tuiCardLarge 
        class="max-w-30rem mx-auto" 
        (showShipmentForm) 
        = "onShowShipmentForm()"
    >
    <form [formGroup]="form" (ngSubmit)="calculateCost()">
        <div class="text-right">
            <button
                appearance="flat"
                tuiAppearanceMode = "checked"
                tuiButton
                type="button"
                (click) = "OnCollapseForm()"> x
            </button>
        </div> 
        <h3>Create Shipment</h3>
        <h4>Sender Details</h4>
        <tui-input
                formControlName="senderName"
                [tuiTextfieldCleaner]="true"
                >
                Provide us with your Name
                    <input
                        placeholder="Enter your Name"
                        tuiTextfieldLegacy
                        type="text"
                    />
        </tui-input>
        <div class="flex justify-content-between my-2">
            <tui-input formControlName="weight">
                 Package weight in kg
                <input inputmode="numeric" tuiTextfieldLegacy />
            </tui-input>
            <tui-input
            formControlName="dimensions"
            >
            Package dimensions
            <input
                inputmode="numeric"
                tuiTextfieldLegacy
            />
        </tui-input>
        </div>
        <tui-input
                formControlName="pckCont"
                [tuiTextfieldCleaner]="true"
                >
                Provide us with package contents
                    <input
                        tuiTextfieldLegacy
                        type="text"
                    />
        </tui-input>
        <h4>Recipient Details</h4>
        <div class="my-2" *ngFor="let field of fields">
            <tui-input
            [formControlName]="field.formControlName"
        >
        {{ field.placeholder }}
        <input [type]="field.type" tuiTextfieldLegacy />
            </tui-input>
        </div>  
        <button
            appearance="primary"
            tuiAppearanceMode = "checked"
            tuiButton
            type="submit"
            class="w-full"
            > Calculate cost
        </button>
        <div class="my-4" *ngIf="shippingCost !== null">
            <h4>Estimated Shipping Cost: ${{ shippingCost }}</h4>
        </div>
    </form>
</div>