<div tuiAppearance="floating" 
    tuiCardLarge 
    class="max-w-30rem mx-auto my-4">
    <h1 class="text-xl">Monitor Shipment</h1>
    <div class="flex justify-content-between px-5">
        <tui-input class="w-6" [formControl]="filterControl">
            filter
        </tui-input> 
        <button  
            tuiButton type="button" 
            class="mx-1 btn"> 
            Update Filter
        </button>
    </div>
    <table tuiTable class="tables" [columns]="columns">
        <thead>
            <tr class="text-lg">
                <th>Email</th>
                <th>Role</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of filteredUsers$ | async" class="data">
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.status }}</td>
            </tr>            
        </tbody>
    </table>
</div>
