.tables {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
  }
  
  .tables th, .tables td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .tables th {
    background-color: #f4f4f4;
  }