<div class="text-center w-full  my-8">
    <div class="md:flex justify-content-end md:mr-8">
        <button   
    tuiButton type="button"
    class="btn md:mb-0 mb-2" 
    (click)="onShowManageUsers()"
    > Manage Users
    </button>
    <button  
    tuiButton type="button" 
    class="btn" 
    (click)="onShowMonitorShipment()"
    > Monitor Shipment
    </button>
    </div>
    <h2 class="text-xl">
        Welcome to Service Provider Section
    </h2>
    <p>
        Where you can be able to manage users and monitor shipments efficiently.
    </p>
    <manage-users *ngIf="showManagerUsers"></manage-users>
    <monitor-shipment *ngIf="showMonitorShipment"></monitor-shipment>
</div>
