<div class="header flex justify-content-between border-2 p-4 bg-gray-800">
    <h1 class="">DooDoo</h1>
    <div class="p2">
        <div class="pr text-center">
            <a tuiLink 
            routerLink=""
            class="mx-2"
            >Home</a>
            <a tuiLink 
            routerLink=""
            fragment="about"
            class="mx-2">About</a>
            <a tuiLink 
            routerLink=""
            fragment="contact"
            class="mx-2">Contact Us</a>
            <a tuiLink class="mx-2">Logout</a>
        </div>
        <div class="pl mt-3">
            <a tuiLink (click)="navigate()" class="mx-2">Administrator</a>
            <a tuiLink (click)="navigate()" class="mx-2">Customer Support Agent</a>
            <a tuiLink (click)="navigate()" class="mx-2">Receipient</a>
            <a tuiLink (click)="navigate()" class="mx-2">Sender</a>
            <a tuiLink (click)="navigate()" class="mx-2">Service Provider</a>
        </div>
    </div>
</div>
