<div *ngIf="!isAddingOrEditing">
  <button tuiButton (click)="showAddUserForm()">Add User</button>

  <table tuiTable class="tables mt-4" [columns]="columns">
    <thead>
      <tr>
        <th>Email</th>
        <th>Role</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users$ | async">
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.status }}</td>
        <td class="flex justify-content-between">
          <button tuiButton class="mx-1" (click)="editUser(user)">Edit</button>
          <button tuiButton class="mx-1" (click)="deleteUser(user)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- FORM -->
<div *ngIf="isAddingOrEditing" tuiAppearance="floating" tuiCardLarge class="max-w-30rem mx-auto my-4">
  <h1>{{ editingUserId ? 'Edit User' : 'Add User' }}</h1>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <!-- Email Input -->
    <tui-input formControlName="email" [tuiTextfieldCleaner]="true">
      Enter your Email address
      <input placeholder="mail@mail.ru" tuiTextfieldLegacy type="email" />
    </tui-input>

    <!-- Role Dropdown -->
    <tui-combo-box
        tuiDropdownMobile
        [tuiTextfieldCleaner]="true"
        formControlName="role"
        class="my-3"
      >
        Select Role
        <tui-data-list-wrapper *tuiDataList [items]="roles | tuiFilterByInput" />
    </tui-combo-box>

    <!-- Status Dropdown -->
    <tui-combo-box
      tuiDropdownMobile
      [tuiTextfieldCleaner]="true"
      formControlName="status"
    >
      Select Status
      <tui-data-list-wrapper *tuiDataList [items]="statuses | tuiFilterByInput" />
    </tui-combo-box>

    <button tuiButton type="submit" appearance="primary" class="mt-2 w-full">
      {{ editingUserId ? 'Update User' : 'Add User' }}
    </button>

    <button tuiButton type="button" appearance="secondary" class="mt-2 w-full" (click)="cancelForm()">
      Cancel
    </button>
  </form>
</div>

<!-- Pagination -->
<tui-pagination
  class="mt-4"
  [length]="totalPages"
  [(index)]="currentPage"
  (indexChange)="onPageChange($event)"
></tui-pagination>

