<div tuiAppearance="floating" tuiCardLarge class="max-w-30rem mx-auto">
  <form [formGroup]="form" (ngSubmit)="onSubmitTrckN()">
    <div class="text-right">
      <button
        appearance="flat"
        tuiAppearanceMode="checked"
        tuiButton
        type="button"
        (click)="onCollapseTrackForm()"
        class="cancel"
      >
        x
      </button>
    </div>
   <div *ngIf="showFormNote">
    <h3 class="font-bold text-lg">Track Shipment</h3>
    <tui-input formControlName="trackId">
      Enter the Tracking number
      <input inputmode="numeric" tuiTextfieldLegacy />
    </tui-input>
    <button
      appearance="primary"
      tuiAppearanceMode="checked"
      tuiButton
      type="submit"
      class="btn my-3 w-full"
    >
      Track shipment
    </button>
   </div>
   <ng-container *ngIf="!shipment">
    <loader [isLoading]="isLoading" *ngIf="isLoading"></loader>
   </ng-container>
  </form>
  <div *ngIf="shipment">
    <h3 class="font-bold text-xl">Updated Shipment Status</h3>
    <p>Status: {{ shipment.status || 'Pending' }}</p> 
    <p>Estimated Delivery: {{ shipment.estimatedDeliveryDate || 'Not available' }}</p>
  </div>
  
  
</div>
