.btn{
    background-color: #1a97bd !important;
    font-family: "Philosopher", serif;
}
.text-lg{
    color: #41bde2;
    font-family: "Philosopher", serif;
    font-weight: 400;
    font-style: italic;
}
.cancel{
    color:#1a97bd !important;
    font-family: "Philosopher", serif;
}
.text-xl{
    color: #41bde2;
    font-family: "Philosopher", serif;
    font-weight: 400;
    font-style: italic;
}
p{
    color: #3aa8b5;
    font-family: "Philosopher", serif;
    font-weight: bold;
    font-size: 14px;

   
  }  
  