@import "config";

$imagePath: "/img/pexels-ranjith-ar-6835-40642.jpg";

.bagr{
    background-image: url($imagePath);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;     
}

.hero-section {
     @include bgColor;
    text-align: center;
    padding: 3rem;
    @include PrimaryColor;
    @include secondaryFont;
      
      .tabs {
        display: flex;
        gap: 10px;
        margin-top: 20px;
      }
      
      .tab-button {
        @include secondaryFont;
        cursor: pointer;
        @include PrimaryColor;
      }
      
      .tab-button.active {
        @include active;
      }
      
      .tabs-container {
        margin-top: 20px;
      }

      .text-xl{
        @include tertiaryColor;
        @include tertialyFont
      }  
      p{
        @include tertiaryColor;
        @include secondaryFont;
      }  
      h4{
        @include tertiaryColor;
        @include secondaryFont;

      }  
      .cat{
        @include tertiaryColor;
        @include tertialyFont
      }
  }
  
  .back-button {
    margin-top: 1rem;
    @include primaryFont;
    @include tertiaryColor
  }

  
  