<div class="max-w-30rem mx-auto">
  <h2 class="text-center text-xl">Pending Pickup Requests</h2>

<div *ngIf="pickupRequests.length === 0">
  <p class="text-center text-lg">No pending pickup requests.</p>
</div>
<div *ngFor="let request of pickupRequests">
    <div tuiAppearance="floating" 
    tuiCardLarge class="max-w-30rem mx-auto my-3 flex justify-content-center data">
        <h3><strong>Sender</strong>: {{ request.senderName }}</h3>
        <p><strong>Package</strong>: {{ request.pckCont }}</p>
        <p><strong>Weight</strong>: {{ request.weight }}</p>
        <p><strong>Recipient</strong>: {{ request.recipientName }}</p>
        <p><strong>Recipient Address</strong>: {{ request.recipientAdd }}</p>
        <p><strong>Contact</strong>: {{ request.recipientPh}}</p>
        <p><strong>Status</strong>: <strong>{{ request.status }}</strong></p>

        <button tuiButton (click)="pickupPackage(request.id)" class="btn">Pick Up</button>
    </div>
</div>
</div>