@import "config";

.text-xl{
    color: #044356;
    @include secondaryFont
}
p{
    color: #3aa8b5;
    @include tertiaryFont;

    strong{
        color: #044356
    }
  }
  .btn-cnfrm{
    @include bc;
  } 
  .btn-edit{
    @include be
  } 